<h1>Server Error</h1>
<p>We are sorry,something went wrong</p>
<a href="/dashboard" class="btn">Got to Dashboard</a>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci unde quidem blanditiis reiciendis? Consectetur laboriosam repudiandae laudantium saepe? Et ullam facilis doloremque officiis aliquam eos enim optio dolores iure dicta.